body {
    background-color: black;
    font-family: Helvetica;
}


nav {
    top:10;
    margin-left: 35px;
    width:95%;
    height:60px;
    padding:10px 80px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid #ffffff;
    
 }
 
 nav .Logo {
   
   width: 90px;
   float: left;
   margin-top: -25px;
   
   
 }
 
 

 nav ul{
     list-style: none;
     float: right;
     margin: 0;
     padding: 0;
     display: flex;
 }
 
 nav ul li a {
     line-height: 43px;
     color: white;
     padding: 12px 30px;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
 }

 nav ul li a:hover{
    background-color: #096574;
    border-radius: 6px;

 }

 h1{
    background: -webkit-linear-gradient(white, rgb(139, 177, 214), #d5c8c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:0 0 1px dodgerblue,
                0 0 3px dodgerblue;

    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding: 60px;
}

.div1 {
    background-color: black;
    word-spacing: normal;
    width: 900px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px dodgerblue;
    padding: 9px;
    margin-top: 20px;
    margin-left: 230px;
    border-radius: 10px;
    z-index: -1;
}
.div2 {
   background-color: black;
   word-spacing: normal;
   width: 500px;
   text-align: center;
   color: white;
   box-shadow: 0 0 10px dodgerblue;
   padding: 9px;
   margin-left: 420px;
   border-radius: 10px;   
   
}

.color {
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: #ffffff;
   padding: 50px;
}
.footer-basic {
   background-color:#000000;
   color:#ffffff;
 }
 .footer-basic ul {
   padding:0;
   list-style:none;
   text-align:center;
   font-size:18px;
   line-height:1.6;
   margin-bottom:0;
 }
 
 .footer-basic li {
   padding:0 10px;
   background-color: #000000;
   color: white;
 }
 
 .footer-basic ul a {
   color:inherit;
   text-decoration:none;
   opacity:0.8;
   padding: 5px;
 }
 
 .footer-basic ul a:hover {
   opacity:1;
 }
 
 .footer-basic .social {
   text-align:center;
   padding-bottom:25px;
 }
 
 .footer-basic .social > a {
   font-size:24px;
   width:40px;
   height:40px;
   line-height:40px;
   display:inline-block;
   text-align:center;
   border-radius:50%;
   border:1px solid #ccc;
   margin:0 8px;
   color:inherit;
   opacity:0.75;
 }
 
 .footer-basic .social > a:hover {
   opacity:0.9;
 }